<% if params[:invite_id].present? %>
<!---nilもしくは空のときfalseを返すため/uername/invites/invite_id/messagesの中身を記述する--->
        <div class="date_position">
            <%= image_tag("https://s3.amazonaws.com/meshi-image/#{@user.username}/#{@invite.id}.png", class: "invite-img", :alt => "投稿") %>
            <div class="invite_date2"><%= @invite.created_at.strftime('%m/%d') %></div>
        </div>
        
        <%= link_to "https://twitter.com/share?url=https%3A%2F%2Fmeshi-go.herokuapp.com%2F#{@user.username}%2Finvites%2F#{@invite.id}%2Fmessages%2Fnew&hashtags=meshi", class: "twitter-button", :target=>["_blank"] do %>
            <i class="fab fa-twitter fa-lg"></i>
            <p>Twitterに投稿する</p>
        <% end %>
        
    <% if @invite_messages.any? %>
        <ol class="invite_messages">
            <%= render :partial => "invite_message", :collection => @invite_messages %>
        </ol>
    <% else %>
            <p>メッセージはありません</p>
    <% end %>

<% else %>

<!---中身があるときtrueを返すため/username/messagesの中身を記述する--->
<div class="message-bar">
    <p>通知一覧</p>
</div>
    <% if @messages.any? %>
        <ol class="messages">
            <%= render @messages %>
        </ol>
    <% else %>
        <div class="none-notification">
            <p>通知はありません</p>
        </div>
    <% end %>

<% end %>